<p>paciente-consulta works!</p>
<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
    </div>
</div>
<hr>
  
<table class="table table-striped" *ngIf='pacientes && pacientes.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Identificación</th>
            <th scope="col">Nombre </th>
            <th scope="col">Valor Servicio</th>
            <th scope="col">Salario</th>
            <th scope="col">Copago</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ paciente.identificacion }} </td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.valorServicio  }}</td>
            <td>{{ paciente.salario }}</td>
            <td>{{ paciente.copago  }}</td>
        </tr>
    </tbody>
</table>
  