<div class="container">
    <h2>Registro de Personas</h2>
    <p>Si su salario es mayor a 2.5m su tarifa es del 20%, en caso contrario sera del 10%</p>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form >                 
                <div class="form-group">
                    <label>Identificacion</label>
                    <input type="text"  name="identificacion"  [(ngModel)]="paciente.identificacion" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text"  name="nombre"  [(ngModel)]="paciente.nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Valor del servicio</label>
                    <input type="number"  name="valorServicio"  [(ngModel)]="paciente.valorServicio" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Salario</label>
                    <input type="number"  name="salario"  [(ngModel)]="paciente.salario" class="form-control" />
                </div>
                <div class="text-center">
                    <button class="btn btn.primary mr-1"(click)="add()">Registrar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
    